<div class="media">
  <div class="media__image">
    <svg class="icon icon--primary">
      <use xlink:href="images/sprite.svg#snap"></use>
    </svg>
  </div>
  <div class="media__body">
    <h3 class="media__title">Easy Start & Managed Updates</h3>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores,
      voluptas! Eveniet laudantium maiores numquam aut ut. Sapiente itaque quae,
      culpa ipsa ratione rem non corrupti perspiciatis sunt maiores consequuntur
      nemo.
    </p>
  </div>
</div>
